<app-navbar *ngIf="user" (logout)="onLogout()"></app-navbar>
<div class="cuerpo" [ngClass]="{'cuerpoLuz': user,'cuerpo': !user}">
	<!-- 	<app-lista-precios></app-lista-precios>
 -->
	<div class="content">
		<!-- es el ::before esto -->
		<video autoplay loop [muted]="'muted'" [controls]="'false'">
			<source src="../assets/img/video.mp4" type="video/mp4">
		</video>
		<!-- 	<div class="logueado" [ngClass]="{'logueado.hidden': user,'hidden': !user}">
 -->
		<div class="login" [ngClass]="{ 'hidden': user }">
			<app-signup></app-signup>

			<div id="cabecera">
				<img src="../assets/img/LOGOTOTAL.png" id="logo" width="250px">
				<h1>BARBERIA EL PIRATA</h1>
			</div>
			<div id="formLoggin">
				<form action="#" class="form" #form="ngForm"
					(ngSubmit)="login(form)">
					<div class="form-group mt-2">
						<input type="email" name="email" id="email" class="form-control"
							placeholder="Introduce tu email" [(ngModel)]="creds.email" (ngModelChange)="clearError()">
					</div>
					<div class="form-group mt-2">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Introduce tu contraseña"
							[(ngModel)]="creds.password" (ngModelChange)="clearError()">
						<div *ngIf="error" class="text-danger mt-2">Email o
							contraseña incorrectos.</div>
					</div>

					<button type="submit" class="btn btn-primary" href=""
						id="iniciarSesion">Iniciar Sesion</button>

					<a id="crearCuenta" data-bs-toggle="modal"
						data-bs-target="#modalCrearCuenta">Crear Cuenta</a> <a href=""
						id="noLogin" data-bs-toggle="modal" data-bs-target="#exampleModal">¿No
						puedes iniciar sesión?</a>
				</form>
			</div>





			<!-- CREAR CUENTA -->
			<!-- OLVIDAR CONTRASEÑA -->

			<div class="modal fade" id="exampleModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">¿Olvidastes
								la contraseña?</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Ingresa tu Email y te enviaremos al correo tus credenciales
							<div class="m-3">
								<input type="text" class="form-control" id="recipient-name">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Enviar
								Correo</button>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!--  LOGIN -->
		<!-- LOGEADO INICIO -->
		<div class="logueado" [ngClass]="{ 'hidden': !user }">
			<div id="cabecera2">

				<h1 style="color: white">
					<img src="../assets/img/iconos/candelabro.png" width="40px">
					BARBERIA EL PIRATA
<!-- 					<img src="../assets/img/iconos/candelabro.png" width="40px" style="  transform: scaleX(-1);
 -->					
				</h1>

				<div class="peluqueros">
					<img class="carrito" src="/assets/img/ruben/ruben1.jpg"> <img
						class="carrito" src="/assets/img/ruben/ruben1.jpg"> <img
						class="carrito" src="/assets/img/ruben/ruben1.jpg">
				</div>
			</div>
			<div class="textoTiendaCita">
				<div class="cita">

					<h5>RESERVA TU CITA</h5>
					<img routerLink="/cita" width="60px" class="reservaImg"
						src="../assets/img/iconos/reserva.png">
				</div>
				<div class="informacion">
					<h5>INFORMACIÓN</h5>
					<span style="font-size: 15px"><img class="carrito" width="20px" style="margin-right:5px" src="/assets/img/iconos/instagram.png">RubenNH</span>
					<span style="font-size: 15px">C/Francisco Pene nº23 </span> <span
						style="font-size: 15px">04131 Almeria/Retamar</span> <span
						style="font-size: 15px; margin-bottom:10px">+34 666555444</span>

				</div>
				<div class="tienda2">
					<h5>VISITA LA TIENDA</h5>
					<img routerLink="/carro" width="40px" class="carroImg"
						src="../assets/img/iconos/carrito.png">
				</div>
			</div>

		</div>
		<router-outlet></router-outlet>
	</div>
</div>

