
<app-navbar></app-navbar>
<div class="carroProductos">
	
	<div #contenedor class="contenedor">
		
		<div *ngFor="let producto of productos" class="item">
			<div class="imagen">
				<img [src]="producto.imagen" alt="producto 1">
				<div class="overlay">
				<p>{{producto.descripcion}}</p>
				</div>
			</div>
			<div class="informacion">
				<p>{{producto.nombre}}</p>
				<p class="precio">
					{{producto.precio}}<span>€</span>
				</p>
				<button>Comprar</button>

			</div>
		</div>
		
		
	</div>
</div>
<router-outlet></router-outlet>