.cuerpo{
	font-family:piratesbay;
text-align: center;
 	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  background: silver;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.barberia{
	color:white;
	width: 100%;
}
.Agregar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15rem;
}

.Agregar input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}





.servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}


.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  border: 1px solid black;
  
}

.cortes {
  display: flex;
  flex-direction: row;
  margin:10px;
  border: 1px solid black;
  
}

.corte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
    border: 1px solid black;
  
}

.estilos {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid black;
  
}

.estilo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

