
 <app-navbar></app-navbar>

<div class="cuerpo">
	<div class="navbarAdmin">
		<a class="nav-link" routerLink="/admintienda">Tienda</a>
	</div>
	<div class="usuarios">
		<h2>Lista de usuarios</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Teléfono</th>
					<th>Rol</th>
					<th>Citas</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let usuario of usuarios">
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.telefono }}</td>
					<td>
						<ul>
							<li style="list-style: none" *ngFor="let rol of usuario.roles">{{
								rol.nombre.slice(5) }}</li>
						</ul>
					</td>
					<td>
						<button class="btn btn-secondary" (click)="toggleCitas()">Mostrar
							citas</button>
						<div *ngIf="mostrarCitas">
							<ul>
								<li style="list-style: none" *ngFor="let cita of usuario.citas">
									<hr style="border-width: 5px;">
									<table>
										<tr *ngIf="cita.fechaInicio == cita.fechaFin">
											<td>Fecha:</td>
											<td>{{ cita.fechaInicio | date: 'dd/MM/yyyy' }} {{
												cita.fechaInicio | date: 'HH:mm' }}</td>
										</tr>


										<tr *ngIf="cita.fechaInicio != cita.fechaFin">
											<td>Fecha de inicio:</td>
											<td>{{ cita.fechaInicio | date: 'dd/MM/yyyy' }} {{
												cita.fechaInicio | date: 'HH:mm' }}</td>
										</tr>
										<tr *ngIf="cita.fechaInicio != cita.fechaFin">
											<td>Fecha de fin:</td>
											<td>{{ cita.fechaFin | date: 'dd/MM/yyyy' }} {{
												cita.fechaFin | date: 'HH:mm' }}</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<button class="btn btn-danger" (click)="deleteCita(cita)">Eliminar</button>
											</td>
										</tr>
									</table>

								</li>
							</ul>
						</div>
					</td>
					<td><button class="btn btn-primary">Editar</button></td>
					<td><button class="btn btn-danger">Bloquear</button></td>
					<td><button class="btn btn-danger"
							(click)="deleteUsuario(usuario)">Borrar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h1 style="color:black ;margin:20px">Horario</h1>
		<app-admin-horario></app-admin-horario>


	<div class="barberia">
		<app-admin-servicios></app-admin-servicios>
		
</div>
<app-alert></app-alert>
