<app-navbar></app-navbar>
<div class="cuerpo">

	<div class="usuarios">
		<h2>Lista de usuarios</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Teléfono</th>
					<th>Rol</th>
					<th>Citas</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let usuario of usuarios">
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.telefono }}</td>
					<td>
						<ul>
							<li style="list-style: none" *ngFor="let rol of usuario.roles">{{
								rol.nombre.slice(5) }}</li>
						</ul>
					</td>
					<td>
						<button class="btn btn-secondary" (click)="toggleCitas()">Mostrar
							citas</button>
						<div *ngIf="mostrarCitas">
							<ul>
								<li style="list-style: none" *ngFor="let cita of usuario.citas">
									<hr style="border-width: 5px;">
									<table>
										<tr *ngIf="cita.fechaInicio == cita.fechaFin">
											<td>Fecha:</td>
											<td>{{ cita.fechaInicio | date: 'dd/MM/yyyy' }} {{
												cita.fechaInicio | date: 'HH:mm' }}</td>
										</tr>


										<tr *ngIf="cita.fechaInicio != cita.fechaFin">
											<td>Fecha de inicio:</td>
											<td>{{ cita.fechaInicio | date: 'dd/MM/yyyy' }} {{
												cita.fechaInicio | date: 'HH:mm' }}</td>
										</tr>
										<tr *ngIf="cita.fechaInicio != cita.fechaFin">
											<td>Fecha de fin:</td>
											<td>{{ cita.fechaFin | date: 'dd/MM/yyyy' }} {{
												cita.fechaFin | date: 'HH:mm' }}</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<button class="btn btn-danger" (click)="deleteCita(cita)">Eliminar</button>
											</td>
										</tr>
									</table>

								</li>
							</ul>
						</div>
					</td>
					<!-- <td><button class="btn btn-primary">Editar</button></td>
					<td><button class="btn btn-danger">Bloquear</button></td> -->
					<td><button class="btn btn-danger"
							(click)="deleteUsuario(usuario)">Borrar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="barberia">
		<h3>Servicios - Cortes - Estilos</h3>
		<div class="Agregar Barberia">
			<div class="agregar-servicio">
				<h4>Agregar Servicio</h4>
				<form>
					<label>Nombre:</label> <input type="text"
						[(ngModel)]="nuevoServicio.nombre"> <label>Imagen:</label>
					<input type="file" [(ngModel)]="nuevoServicio.imagen"> <label>Precio:</label>
					<input type="text" [(ngModel)]="nuevoServicio.precio"> <label>Tiempo:</label>
					<input type="text" [(ngModel)]="nuevoServicio.tiempo"><label>Nombre
						Extra:</label> <input type="text" [(ngModel)]="nuevoServicio.extra">

					<button type="submit" class="btn btn-success">Agregar
						Servicio</button>
				</form>
			</div>
			<div class="agregar-corte">
				<h4>Agregar Corte</h4>
				<form>

					<label>Servicio:</label> <select [(ngModel)]="nuevoCorte.servicio">
						<option *ngFor="let servicio of servicios" [value]="servicio.id">{{
							servicio.nombre }}</option>
					</select><br> <label>Nombre:</label> <input type="text"
						[(ngModel)]="nuevoCorte.nombre"> <label>Imagen:</label> <input
						type="file" [(ngModel)]="nuevoCorte.imagen"> <label>Precio:</label>
					<input type="text" [(ngModel)]="nuevoCorte.precio"> <label>Tiempo:</label>
					<input type="text" [(ngModel)]="nuevoCorte.tiempo"><label>Extra:</label>
					<input type="text" [(ngModel)]="nuevoCorte.extra">
					<button type="submit" class="btn btn-success">Agregar
						Servicio</button>
				</form>
			</div>
			<div class="agregar-estilo">
				<h4>Agregar Estilo</h4>
				<label>Servicio:</label>
				<div class="container" *ngFor="let servicio of servicios">
					<label>{{servicio.nombre}}</label> <select
						[(ngModel)]="nuevoEstilo.corte">
						<option *ngFor="let corte of servicio.cortes" [value]="corte.id">{{
							corte.nombre }}</option>
					</select><br>
				</div>
				<form>
					<label>Nombre:</label> <input type="text"
						[(ngModel)]="nuevoEstilo.nombre"> <label>Imagen:</label> <input
						type="file" [(ngModel)]="nuevoEstilo.imagen"> <label>Precio:</label>
					<input type="text" [(ngModel)]="nuevoEstilo.precio"> <label>Tiempo:</label>
					<input type="text" [(ngModel)]="nuevoEstilo.tiempo"><label>Extra:</label>
					<input type="text" [(ngModel)]="nuevoEstilo.extra">

					<button type="submit" class="btn btn-success">Agregar
						Servicio</button>
				</form>
			</div>
		</div>
		<div class="servicios">
			<h5>Servicio:</h5>

			<div class="servicio" *ngFor="let servicio of servicios">
				<label>Nombre:</label> <input type="text"
					[(ngModel)]="servicio.nombre"> <img
					[src]="'../assets/img/pelaos/'+ servicio.imagen"> <label>Precio:</label>
				<input type="text" [(ngModel)]="servicio.precio"
					placeholder="{{servicio.precio}} €"> <label>Tiempo:</label>
				<input type="text" [(ngModel)]="servicio.tiempo"
					placeholder="{{servicio.tiempo}} minutos">
				<button class="btn btn-success" (click)="editarServicio(servicio)">Actualizar</button>
				<button class="btn btn-danger" (click)="eliminarServicio(servicio)">Eliminar</button>

				<div class="cortes">
					<h5>Cortes:</h5>
					<div class="corte" *ngFor="let corte of servicio.cortes">
						<label>Nombre:</label> <input type="text"
							[(ngModel)]="corte.nombre"> <img
							[src]="'../assets/img/pelaos/'+ corte.imagen"> <label>Precio:</label>
						<input type="text" [(ngModel)]="corte.precio"
							placeholder="{{corte.precio}} €"> <label>Tiempo:</label>
						<input type="text" [(ngModel)]="corte.tiempo"
							placeholder="{{corte.tiempo}} minutos">
						<button class="btn btn-success" (click)="editarCorte(corte)">Actualizar</button>
						<button class="btn btn-danger" (click)="eliminarCorte(corte)">Eliminar</button>

						<div class="estilos">
							<h5>Estilos:</h5>

							<div class="estilo" *ngFor="let estilo of corte.estilos">
								<label>Nombre:</label> <input type="text"
									[(ngModel)]="estilo.nombre"> <img
									[src]="'../assets/img/pelaos/'+ estilo.imagen"> <label>Precio:</label>
								<input type="text" [(ngModel)]="estilo.precio"
									placeholder="{{estilo.precio}} €"> <label>Tiempo:</label>
								<input type="text" [(ngModel)]="estilo.tiempo"
									placeholder="{{estilo.tiempo}} minutos">
								<button class="btn btn-success" (click)="editarEstilo(estilo)">Actualizar</button>
								<button class="btn btn-danger" (click)="eliminarEstilo(estilo)">Eliminar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>
<app-alert></app-alert>
