<h1 *ngIf="horasMa.length != 0">Horario</h1>

<div class="horario">
	<div class="horasMa">
		<h3 *ngIf="horasMa.length != 0" style="margin:15px">Mañana</h3>
		
		<div class="botonesMa">
			<Button data-bs-target="#modalPrincipal" data-bs-toggle="modal"
				*ngFor="let hora of horasMa" class="boton-hora"
				[ngClass]="{'boton-reservadaIni': horaReservadaManana[hora] === 1 && userRoles.includes('ROLE_ADMIN'),
							'boton-reservada-medio': horaReservadaManana[hora] === 2  && userRoles.includes('ROLE_ADMIN')}"
				[disabled]="horaReservadaManana[hora] === -1 ||  
				horaReservadaManana[hora] === 1 && !userRoles.includes('ROLE_ADMIN') ||
				horaReservadaManana[hora] === 2 && !userRoles.includes('ROLE_ADMIN')"
				(click)="fechaCita($event)">{{hora}}h</Button>
		</div>
	</div>

	<div class="horasTa">
			<h3 *ngIf="horasTa.length != 0" style="margin:15px">Tarde</h3>
	
		<div class="botonesTa">
			<Button data-bs-target="#modalPrincipal" data-bs-toggle="modal"
				*ngFor="let hora of horasTa" class="boton-hora"
				[ngClass]="{'boton-reservadaIni': horaReservadaTarde[hora] === 1 && userRoles.includes('ROLE_ADMIN'),
							'boton-reservada-medio': horaReservadaTarde[hora] === 2  && userRoles.includes('ROLE_ADMIN'),
							'boton-reservada-Fin': horaReservadaTarde[hora] === 3  && userRoles.includes('ROLE_ADMIN')}"
				[disabled]="horaReservadaTarde[hora] === -1 ||  
				horaReservadaTarde[hora] === 1 && !userRoles.includes('ROLE_ADMIN') ||
				horaReservadaTarde[hora] === 2 && !userRoles.includes('ROLE_ADMIN')"
				(click)="fechaCita($event)">{{hora}}h</Button>
		</div>

	</div>

</div>

<app-alert></app-alert>
