

<!--  1º Anidacion -- PRINCIPAL-->
<app-alert #alert></app-alert>

<div class="modal fade" id="modalPrincipal" aria-hidden="true"
	aria-labelledby="exampleModalToggleLabel" tabindex="-1" #modalPrincipal>
	<div
		class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
		<div class="modal-content">

			<div class="modal-header">
				<div class="modal-title" id="exampleModalToggleLabel">
					<p>Fecha: {{fechaCitaCompleta | date: 'dd/MM/yyyy'}}</p>
					<p>Hora: {{fechaCitaCompleta | date: 'HH:mm'}}h</p>
				</div>
				<!-- <p> {{fechaCitaCompleta | date: 'EEEE'}}</p> -->


				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body"
				*ngIf="citaAdmin != undefined && userRoles.includes('ROLE_ADMIN')">
				
				<div class="adminBody">
					<img *ngFor="let corte of citaAdmin.corte"
						[src]="'../assets/img/pelaos/'+ corte.imagen"> <img
						*ngFor="let estilo of citaAdmin.estilo"
						[src]="'../assets/img/pelaos/'+ estilo.imagen"> <img
						*ngFor="let servicio of citaAdmin.servicio"
						[src]="'../assets/img/pelaos/'+ servicio.imagen">
						
				</div>
				
			</div>
			<div class="modal-body"
				*ngIf="userRoles.includes('ROLE_USUARIO') 
			&& !userRoles.includes('ROLE_ADMIN') || 
			citaAdmin == undefined  && userRoles.includes('ROLE_ADMIN')">


				<div class="servicios" *ngFor="let servicio of servicios">
					<p>{{ servicio.nombre }}</p>
					<button class="button-pirata"
						(click)="seleccionarServicio(servicio)">+</button>
					<img [src]="'../assets/img/pelaos/'+ servicio.imagen">



					<div class="verMas" *ngIf="servicio.cortes.length > 0">
						<button class="btn btn-outline-dark" style=""
							data-bs-target="#modalCorte" (click)="modalCortes(servicio)"
							style="color:white" data-bs-toggle="modal">Ver Mas</button>
					</div>
				</div>
			</div>
			<div class="modal-footer" *ngIf="citaAdmin != undefined && userRoles.includes('ROLE_ADMIN')">
								<h1>{{this.citaAdmin.nombre}}</h1>
				
				<button  class="btn btn-danger" (click)="deleteCita(citaAdmin)"
					data-bs-dismiss="modal">&#10008;</button>
			</div>
			<div class="modal-footer" *ngIf="userRoles.includes('ROLE_USUARIO') 
			&& !userRoles.includes('ROLE_ADMIN') || 
			citaAdmin == undefined  && userRoles.includes('ROLE_ADMIN')">
			
				<p>Servicios seleccionados:</p>
				<div class="servicios-seleccionados">


					<div class="servicioSelect"
						*ngFor="let servicio of serviciosSeleccionados">
						<button class="btn btn-danger" (click)="quitarServicio(servicio)"
							style="font-size: 0.5rem;">&#10008;</button>
						<p>{{servicio.nombre }}</p>


					</div>
				</div>
				<button class="btn btn-success" data-bs-target="#modalFinalizar"
					data-bs-toggle="modal"
					[disabled]="serviciosSeleccionados.length === 0"
					(click)="finalizarCompra()">Finalizar</button>
			</div>
		</div>
	</div>
</div>

<!--  2º Anidacion -->
<div class="modal fade" id="modalCorte" aria-hidden="true"
	aria-labelledby="exampleModalToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
					{{tituloSeleccionado}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>


			<div class="modal-body">
				<div class="cortes" *ngFor="let corte of cortes">
					<p>{{ corte.nombre }}</p>
					<button class="button-pirata" (click)="seleccionarServicio(corte)">+</button>
					<img [src]="'../assets/img/pelaos/'+ corte.imagen">
					<div class="verMas" *ngIf="corte.estilos.length > 0">
						<button class="btn btn-outline-dark" style=""
							data-bs-target="#modalEstilo" (click)="modalEstilos(corte)"
							data-bs-toggle="modal" style="color:white">Ver Mas</button>
					</div>
				</div>
			</div>



			<div class="modal-footer">
				<p>Servicios seleccionados:</p>
				<div class="servicios-seleccionados">


					<div class="servicioSelect"
						*ngFor="let servicio of serviciosSeleccionados">
						<button class="btn btn-danger" (click)="quitarServicio(servicio)"
							style="font-size: 0.5rem;">&#10008;</button>
						<p>{{servicio.nombre }}</p>


					</div>
				</div>
				<button class="btn btn-primary" data-bs-target="#modalPrincipal"
					data-bs-toggle="modal">Atras</button>
				<button class="btn btn-success" data-bs-target="#modalFinalizar"
					data-bs-toggle="modal"
					[disabled]="serviciosSeleccionados.length === 0"
					(click)="finalizarCompra()">Finalizar</button>
			</div>


		</div>
	</div>
</div>



<!--  3º Anidacion -->


<div class="modal fade" id="modalEstilo" aria-hidden="true"
	aria-labelledby="exampleModalToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
					{{tituloSeleccionado}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>


			<div class="modal-body">
				<div class="estilos" *ngFor="let estilo of estilos">
					<p>{{ estilo.nombre }}</p>
					<button class="button-pirata" (click)="seleccionarServicio(estilo)">+</button>
					<img [src]="'../assets/img/pelaos/'+ estilo.imagen">

				</div>
			</div>



			<div class="modal-footer">
				<p>Servicios seleccionados:</p>
				<div class="servicios-seleccionados">


					<div class="servicioSelect"
						*ngFor="let servicio of serviciosSeleccionados">
						<button class="btn btn-danger" (click)="quitarServicio(servicio)"
							style="font-size: 0.5rem;">&#10008;</button>
						<p>{{servicio.nombre }}</p>


					</div>
				</div>
				<button class="btn btn-primary" data-bs-target="#modalCorte"
					data-bs-toggle="modal">Atras</button>
				<button class="btn btn-success" data-bs-target="#modalFinalizar"
					data-bs-toggle="modal"
					[disabled]="serviciosSeleccionados.length === 0"
					(click)="finalizarCompra()">Finalizar</button>
			</div>


		</div>
	</div>
</div>

<!--  FINALIZAR -->
<div class="modal fade" id="modalFinalizar" aria-hidden="true"
	aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title" id="exampleModalToggleLabel">
					<p>Fecha: {{fechaCitaCompleta | date: 'dd/MM/yyyy'}}</p>
					<p>Hora: {{fechaCitaCompleta | date: 'HH:mm'}}h</p>
				</div>
				<!-- <p> {{fechaCitaCompleta | date: 'EEEE'}}</p> -->
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="finalizados"
					*ngFor="let servicio of serviciosSeleccionados"
					style="justify-content: center;">
					<p style="margin-bottom: 20px">{{ servicio.nombre }}</p>

					<img [src]="'../assets/img/pelaos/'+ servicio.imagen"
						style="box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 1);">
				</div>
			</div>

			<div class="modal-footer">

				Total : {{totalPrecio}} €<br>
				Tiempo : {{totalTiempo}} minutos
				<div class="servicios-seleccionados" style="margin: 5px;">


					<div class="servicioSelect"
						*ngFor="let servicio of serviciosSeleccionados">
						<button class="btn btn-danger" (click)="quitarServicio(servicio)"
							style="font-size: 0.5rem;">&#10008;</button>
						<p>{{servicio.nombre }}</p>
					</div>
				</div>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal"
					aria-label="Close">Cancelar</button>
				<button class="btn btn-primary" data-bs-target="#modalPrincipal"
					data-bs-toggle="modal">Atras</button>
				<button type="button" class="btn btn-success"
					data-bs-dismiss="modal" aria-label="Close" (click)="guardarCita()">Reservar
					Cita</button>
				<div *ngIf="userRoles.includes('ROLE_ADMIN')" class="admin">
					<form [formGroup]="formulario" (ngSubmit)="guardarCita()">

						<div class="mb-3">
							<label for="nombre" class="form-label">Nombre</label> <input
								type="text" class="form-control" id="nombre"
								formControlName="nombre">
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>

