#cuerpo {
	 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
		url("/assets/img/mapapeque.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh; 
	color: white;
	font-family: PiratesBay;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: piratesBay;
	width:100%;
}

.cabeceraHorario, .cabeceraCalendario {
	background-color: #2E2E2E;
	padding:1rem;
}
li{
	  list-style: none;
	  fon-size:.2rem;
}
table{
	text-align: center;
	width: 90%;
}

.cuerpoCitas{
	font-size: .9rem;
	text-align: center;
}

.cuerpoCitas button,.cuerpoCitas li{
		font-size: .7rem;
	
}
#calendario {
	
	text-align: center;
}

#horasYcitas {

	text-align: center;
}




@media (max-width: 767px){
	#cuerpo{
		display: grid;
		grid-template-columns: 1fr;
	}
	li{
	  list-style: none;
	  fon-size:.2rem;
}
}
