

<app-navbar></app-navbar>

<div id="cuerpo">

	<div id="izquierda">
		<div class="cabeceraIzquierda">
			<p>Reserva tu cita</p>
			
		</div>
		<div id="demotext">
			<button *ngIf="userRoles.includes('ROLE_ADMIN')" (click)="generateExcel()">Descargar citas</button>
		
			<p *ngIf="calendarioSelecIni != null">Seleccione una hora </p>
			<p *ngIf="calendarioSelecIni == null">Seleccione una fecha del calendario</p>
		</div>
		<app-calendario (calendarioSeleccionado)="escuchaCalendario($event)"></app-calendario>
		<app-horario #horarioIni [calendarioSelecIni]="calendarioSelecIni"
			(fechaCitaCompleta)="escuchaCalendario($event)" ></app-horario>
			<app-carro-servicio [fechaCitaCompleta]="fechaCitaCompleta"  [misCitas]="misCitas" (misCitasEvent)="misCitas = $event"
				></app-carro-servicio>
	</div>
	<div id="derecha" ><!-- *ngIf="roles.includes('ROLE_ADMIN')" -->
		<div class="cabeceraDerecha">
			<p>Citas</p>
		</div>


		<div class="cuerpoCitas">
			<div class="card-vacio" *ngIf="misCitas.length == 0" >
				<h1>Bienvenido {{usuario.nombre}}</h1>
				<h5>Aqui aparecerán tus citas una vez las reserves</h5> 
			</div>
			<div class="card" *ngFor="let cita of misCitas">
				<div class="titulo">
					<p >{{ cita.fechaInicio | date: 'HH:mm' }}h</p>
					<p >{{ cita.fechaInicio | date: 'EEEE' |
						slice:0:1 | uppercase }}{{ cita.fechaInicio | date: 'EEEE' | slice:1 }}</p>
					<p >{{ cita.fechaInicio | date:
						'dd/MM/yyyy' }}</p>
					<p>{{cita.precio}}€
					<button class="btn btn-danger" (click)="eliminarCita(cita)">
					X</button>
				</div>

				
				<div class="card-header">
					<img *ngFor="let corte of cita.corte"
						[src]="'../assets/img/pelaos/'+ corte.imagen"> <img
						*ngFor="let estilo of cita.estilo"
						[src]="'../assets/img/pelaos/'+ estilo.imagen"> <img
						*ngFor="let servicio of cita.servicio"
						[src]="'../assets/img/pelaos/'+ servicio.imagen">
				</div>


				<div class="card-body">
					<p class="card-text1" *ngFor="let corte of cita.corte">{{
						corte.nombre }}</p>
					<p class="card-text2" *ngFor="let estilo of cita.estilo">{{estilo.nombre
						}}</p>
					<p class="card-text3" *ngFor="let servicio of cita.servicio">{{servicio.nombre
						}}</p>
				</div>
				<div class="card-footer bg-transparent border-secondary">

					<small>Las imagenes y los precios son orientativos </small>
				</div>
			</div>

			
		</div>

	</div>
</div>
<router-outlet></router-outlet>