<div id="cuerpo">

	<div id="calendario">
		<div class="cabeceraCalendario">
			<h1>Reserva tu cita</h1>
			<p>No tengo ni zorra de que poner aqui</p>
		</div>
		<app-calendario (calendarioSeleccionado)="escuchaCalendario($event)"></app-calendario>
	</div>
	<div id="horasYcitas">
	<div class="cabeceraHorario">
			<h1>Selecciona una hora</h1>
			<p>Tu sabe primo</p>
		</div>
			<app-horario #horarioIni [calendarioSelecIni]="calendarioSelecIni"
				(fechaCitaCompleta)="escuchaCalendario($event)" [citas]="citas"></app-horario>
		
		<div class="cabeceraCitas">
			<h3>Citas</h3>
		</div>
		
		
		<div class="cuerpoCitas">
		<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Descripción</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cita of citas">
						<td>{{ cita.fecha | date: 'dd/MM/yyyy' }}</td>
						<td>{{ cita.fecha | date: 'HH:mm' }}</td>
						<td>

									<li *ngFor="let corte of cita.corte">{{ corte.nombre }}</li>
								

								
									<li *ngFor="let estilo of cita.estilo">{{ estilo.nombre }}</li>
								
							
								
									<li *ngFor="let servicio of cita.servicio">{{
										servicio.nombre }}</li>
		
						</td>
						<td>
						<button class="btn btn-danger" (click)="eliminarCita(cita)">
							X</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<app-carro-servicio [fechaCitaCompleta]="fechaCitaCompleta"
			(nuevaCita)="actualizarCitas()"></app-carro-servicio>
	</div>

</div>
