<div class="carroProductos">
	<header #header>
		<h1> Tienda</h1>
		<img class="carrito" src="../assets/img/productos/carrito.png"
			alt="carrito">
	</header>
	<div #contenedor class="contenedor">
		
		<div *ngFor="let producto of productos" class="item">
			<div class="imagen">
				<img src="../assets/img/productos/cerveza.png" alt="producto 1">
				<div class="overlay">
				<p>{{producto.descripcion}}</p>
				</div>
			</div>
			<div class="informacion">
				<p>{{producto.nombre}}</p>
				<p class="precio">
					{{producto.precio}}<span>€</span>
				</p>
				<button>Comprar</button>

			</div>
		</div>
		
		
	</div>
</div>