<div class="calendar">
		<div class="calendar__info">
			<div class="calendar__prev" #prevMonthDOM>&#10096;</div>
			<div class="calendar__month" #month></div>
			<div class="calendar__year" #year></div>
			<div class="calendar__next" #nextMonthDOM>&#10097;</div>
		</div>

		<div class="calendar__week">
			<div class="calendar__day calendar__item">Lun</div>
			<div class="calendar__day calendar__item">Mar</div>
			<div class="calendar__day calendar__item">Mie</div>
			<div class="calendar__day calendar__item">Jue</div>
			<div class="calendar__day calendar__item">Vie</div>
			<div class="calendar__day calendar__item">Sab</div>
			<div class="calendar__day calendar__item">Dom</div>
		</div>
		
		<div class="calendar__dates" #dates></div>
	</div>
