 * {
	box-sizing: border-box;	}
.calendar {
	width: 80%;
	max-width: 600px;
	padding: .5em 0;
	color:white;
	font-family: Caribbean;
	
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.calendar__info {
	display: flex;
	align-items: center;
	padding: 0.2em;
	font-size: 1.2em;
	text-shadow: black 1em 0.1em 0.3em;
	text-transform: uppercase;
	
}
.calendar__month, .calendar__year {
	padding: .5em 1em;
	font-size:1.3em;
	text-shadow: 1px 1px 0px #333,
2px 2px 0px #333,
3px 3px 0px #333,
4px 4px 0px #333,
5px 5px 0px #333,
6px 6px 0px #333,
7px 7px 0px #333,
8px 8px 0px #333,
9px 9px 0px #333,
11px 11px 10px #000;


}

.calendar__prev, .calendar__next {
	color: white;
	cursor: pointer;
	font-size: 2em;
	padding: .1em;
	margin-right: auto;
	margin-left:auto;
	text-shadow: black 1em 0.1em 0.2em;
	text-shadow:
    -1px -1px 20px #999,
    0 0 1px darkblue,
    1px 1px 1px black,
    2px 2px 1px #555,
    3px 3px 1px #222,
    4px 4px 20px #fff;
}


.calendar__week, .calendar__dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	-moz-box-shadow: 0px 0px 30px #ffffff;
      	-webkit-box-shadow: 0px 0px 30px #ffffff;
     	 box-shadow: 0px 0px 30px #ffffff;	
 		
}
.calendar__weekItem{
		text-shadow: black 1em 0.1em 0.2em;
	text-align: center;
	line-height: 3;
	
}
 
.calendar__item2{
	background:red;
}
::ng-deep .calendar__item.calendar__lastDays{
	opacity:.2;
}
::ng-deep .calendar__item.calendar__startDays{
	opacity:.2;
}



.calendar__item, .calendar__dates {
	
	text-align: center;
	line-height: 3;
    font-size:1.2em; 
    text-shadow:
    -1px -1px 20px #999,
    0 0 1px darkblue,
    1px 1px 1px black,
    2px 2px 1px #555,
    3px 3px 1px #222,
    4px 4px 20px #fff;     	
	}
      	 
::ng-deep .calendar__item.selected{
	background: lighcoral;
	width: 50%;
	border-radius: 70%;
	margin: auto;
	background:#33ffec;
}





