<div class="calendar">
		<div class="calendar__info">
			<div class="calendar__prev" #prevMonthDOM>&#10096;</div>
			<div class="calendar__month" #month></div>
			<div class="calendar__year" #year></div>
			<div class="calendar__next" #nextMonthDOM>&#10097;</div>
		</div>

		<div class="calendar__week">
			<div class="calendar__day calendar__weekItem">Lun</div>
			<div class="calendar__day calendar__weekItem">Mar</div>
			<div class="calendar__day calendar__weekItem">Mie</div>
			<div class="calendar__day calendar__weekItem">Jue</div>
			<div class="calendar__day calendar__weekItem">Vie</div>
			<div class="calendar__day calendar__weekItem">Sab</div>
			<div class="calendar__day calendar__weekItem">Dom</div>
		</div>
		
		<div class="calendar__dates"  #dates ></div>
		
	</div>
<app-alert #alert></app-alert>
	